<!-- Footer -->
<footer class="footer">
    <div class="footer-section">
        <h3>Sobre nosotros</h3>
        <p>Información sobre la compañía.</p>
    </div>
    <div class="footer-section">
        <h3>Enlaces</h3>
        <ul>
            <a href="https://www.instagram.com/missdulzurasenelmar" target="_blank" class="instagram-link">
                <i class="fab fa-instagram"></i> Síguenos en Instagram
            </a>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Contacto</h3>
        <p>Email: info@ejemplo.com</p>
        <p>Tel: +123 456 7890</p>
    </div>
</footer>
</body>

</html>